@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer base {
  h1 {
    @apply text-2xl mb-2;
  }
  h2 {
    @apply text-xl mb-3;
  }
  .main {
    @apply flex grow flex-col items-center p-8 md:p-12 justify-start auto-rows-max;
  }
}
